.modal {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.modal-content {
  align-items: center;
  display: flex;
  height: 180px;
  justify-content: center;
  padding: 20px;
}

.modal-footer {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding: 0 20px;
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 60px;
  padding: 0 20px;
}
