.tableWrapper {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

th {
  width: 14.28%;
}

thead {
  background: rgba(0, 0, 0, 0.1);
}

tr {
  border: 1px solid black;
  height: 100px;
}
